
$circle-size: 15px;
$jobs-gutter-vertical: 40px;
$nested-job-gutter: 30px;
$border-width: 1px;

@mixin branch-circle($size){
  content: "";
  position: absolute;

  /* -1 for borders */
  left: 0 - $size/2 - 1;
  top: 0;

  background: white;
  /*background-image: asset-url('/assets/icons/50x50/rounds.png');*/

  height: $size;
  width: $size;
  line-height: $size;
  border-radius: $size;
  border: $border-width solid $blue;
  text-align: center;
  font-weight: bold;
  /*transition: all .3s ease-out;*/
}

@mixin branch-back(){
  position: absolute;
  content: "";
  border: none;
  border-top: $border-width solid $black-color;

  $width: ($jobs-gutter-vertical + $nested-job-gutter) - $circle-size/2 ;

  /* +1 for borders */
  left: -($width + $border-width + $circle-size/2);
  top: $circle-size/2 - $border-width;

  height: $border-width;
  width: $width;
  /*transform: rotate(45deg);*/
}


.left-content{

  .employment-history{

    margin-top: 20px;

    .jobs{

      border-left: $border-width solid $black-color;

      .job{

        position: relative;
        margin: 0;
        padding: 0px $jobs-gutter-vertical 20px $jobs-gutter-vertical;

        &:before{
          @include branch-circle($circle-size);
        }

        span{
          display: block;
        }
      }

      .nested-jobs{
        border-left: none;
        margin: $nested-job-gutter;

        .job{
          position: relative;
          border-left: $border-width solid $black-color;
          margin: 0;
          padding: 0 20px 50px 20px;

          &:first-child:after{
            @include branch-back();
          }

          &:last-child:after{
            @include branch-back();
          }

          &:last-child{
            border: none;
            padding-bottom: 0;
          }

          &:before{
            @include branch-circle($circle-size);
          }
        }
      }

    }



  }

}

.right-content{
  background-color: $grey-color;
}


h3{
  color: $red-color;
  text-transform: capitalize;
  font-weight: normal;
}

ul{
  list-style: none;
  padding-left: 0;
}